

/* font  и запросы для шрифтов*/

.text {
	font-family: verdana;
	text-align: center;
}

@media screen
and (min-width: 1280px) {
	.text {
		font-size: 32px;
	}
	.descktop{
		color: red;
	}
	.oldfone,
	.fone,
	.mini,
	.ipad {
		display: none;
	}
}

@media screen
and (min-width: 1024px)  and (max-width: 1278px) {
	.text {
		font-size: 26px;
	}

	.ipad {
		color: red;
	}
	.oldfone,
	.fone,
	.mini,
	.descktop {
		display: none;
	}
}

@media screen
and (min-width: 720px)  and (max-width: 1022px) {
	.text {
		font-size: 18px;
	}

	.mini {
		color: red;
	}
	.oldfone,
	.fone,
	.ipad,
	.descktop {
		display: none;
	}
}

@media screen 
and (min-width: 480px) and (max-width:718px) {
	.text {
		font-size: 14px;
	}

	.fone {
		color: red;
	}
	.oldfone,
	.mini,
	.ipad,
	.descktop {
		display: none;
	}
}

@media screen 
and (min-width:320px) and (max-width:478px) {
	.text {
		font-size: 10px;
	}
	.oldfone {
		color: red;
	}
	.fone,
	.mini,
	.ipad,
	.descktop {
		display: none;
	}
}





